body {
    background-color: #eee !important;
}

#profiloImg {cursor: pointer;}
.gestioneAccSection{
    background-color: #ebebeb;
    height: fit-content;
    border-radius: .5rem .5rem 0 0;
    min-height: 100lvh;
}

.accountPhotoCont {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}
.accountImgCont {
    height: 250px;
    margin-bottom: 5px;
}
.accountImg {
    height: 100%; width: 100%; object-fit: cover;
}
.accountPhoto {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.secondAccDivCont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}